@font-face {
  font-family: myFont;
  src: url(Aboriginal_Serif_BOLD_939.ttf);
  }
* {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
  }
  h1{
    font-family: myFont;
    text-align: center;
    margin: 50px;
    font-size: 70px;
  }
  body {
    height: 00vh;
    background-color: #8ea7fa;
  }
  .container {
    width: 36em;
    background-color: #b877e4;
    padding: 5em;
    border-radius: 0.4em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 1em 0;
  }
  canvas {
    border: 0;
    border-radius: 0.4em;
    background-color: white;
  }
  button#reload-button {
    font-size: 26px;
    width: 4.6em;
    background-color: #8052ec;
    border: none;
    border-radius: 0.4em;
    color: white;
  }
  button#reload-button:hover {
    font-size: 26px;
    width: 4.6em;
    background-color: #713edf;
    border: none;
    border-radius: 0.4em;
    color: white;
  }
  input[type="text"] {
    font-family: "Roboto Mono", monospace;
    font-size: 1.05em;
    width: 100%;
    padding: 1em 0.7em;
    border: 0;
    border-radius: 0.4em;
  }
  button#submit-button {
    width: 100%;
    background-color: #8052ec;
    color: #ffffff;
    font-size: 1.5em;
    border: none;
    margin-top: 1em;
    padding: 0.8em 0;
    border-radius: 0.4em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  button#submit-button:hover {
    width: 100%;
    background-color: #713edf;
    color: #ffffff;
    font-size: 1.5em;
    border: none;
    margin-top: 1em;
    padding: 0.8em 0;
    border-radius: 0.4em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }